{% extends 'base.html.twig' %}

{% block title %} Nouveelle catégorie {% endblock %}

{% block body %}

    <div class="container">
        <div class="col-6">
            <h2> Enregistrer une nouvelle catégorie </h2>

            {{ form(form) }}
        </div>
    </div>

    <div class="container">
    <a href="{{ path('app_program') }}">
        Retour à la liste des programmes
    </a>
    </div>

{% endblock %}
